<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Placed</h1>

    <h3>Items ordered</h3>

  <% showOrder.cart.forEach(order => {%>
        <h3><%= order.foods.foodname  + " x " + order.quan %> </h3>

        
  <%}); %> 

  <h4>Please keep the Change </h4>
  <h1>Grand Total : <%= codTotAmount %>  </h1>
   
</body>
</html>